﻿
<div class="widget-content">
    <h2>My Ads</h2>
    <a ng-href="#profile">Back To Profile</a>
    <br/>
    <div ng-show="vm.successMessage != null" class="alert alert-success" role="alert">{{vm.successMessage}}</div>
    <div ng-show="vm.errorMessage != null" class="alert alert-danger" role="alert">{{vm.errorMessage}}</div>
    <div ng-show="vm.generalMessage != null" class="alert alert-info" role="alert">{{vm.generalMessage}}</div>
    <br />
    <div id="job-listings" class="col-md-8">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Job</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ad in vm.ads">
                    <td>
                        {{$index + 1}}
                    </td>
                    <td>
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>{{ad.AdTitle}}</h3>
                                <p>{{ad.AdDescription}}</p>
                                <p>Location: {{ad.AdLocation}} </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm" ng-click="vm.viewDetails(ad.AdId)" ng-disabled="ad.AdClosed">View Applicants &amp; Edit</button><br/>
                        <div ng-show="ad.AdClosed">
                            <p style="color: red">This Ad Has Been Closed </p>
                            <button class="btn btn-primary btn-sm" ng-click="vm.reopenAd(ad.AdId)">Re-Open</button>
                            <button class="btn btn-default btn-sm" ng-click="vm.reviewAd(ad.AdId)">Review</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()" max-size="vm.maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
    </div>
    <div id="my-ads" class="col-md-4">
        <h3>Tip</h3>
        <p>Here you can view all your opened ads as well as close them</p>
        <p>You can also hire applicants for a role</p>
        <div jm-quick-links-widget></div>
    </div>
</div>