﻿<div class="widget-content">
    <br />
    <div ng-show="vm.successString != null" class="alert alert-success" role="alert">{{vm.successString}}</div>
    <div ng-show="vm.errorString != null" class="alert alert-danger" role="alert">{{vm.errorString}}</div>
    <div ng-show="vm.generalMessage != null" class="alert alert-info" role="alert">{{vm.generalMessage}}</div>
    <div class="row">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <td>User Name</td>
                    <td>{{vm.userdata.UserName}}</td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>{{vm.userdata.FirstName}}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>{{vm.userdata.LastName}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{vm.userdata.Email}}</td>
                </tr>
                <tr>
                    <td>Date Joined</td>
                    <td>{{vm.userdata.DateJoined | date:'medium'}}</td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td>{{vm.userdata.PhoneNumber}}</td>
                </tr>
                <tr>
                    <td>Subscription Status</td>
                    <td>
                        <div>
                        <span ng-show="vm.userdata.SubscriptionStatus == true" style="color:aquamarine">Active</span>
                        <span ng-show="vm.userdata.SubscriptionStatus == false" style="color:red">Inactive</span>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button ng-click="vm.goToEditProfile()" class="btn btn-info">Edit Profile</button>
    </div>
</div>
