﻿
<div class="container">
    <div>
        <br />
        <h2>Register</h2>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div ng-show="vm.successMessage != null" class="alert alert-success" role="alert">{{vm.successMessage}}</div>
            <div ng-show="vm.errorMessage != null" class="alert alert-danger" role="alert">{{vm.errorMessage}}</div>

            <form ng-hide="vm.isLoggedIn" class="form-horizontal">
                <div class="form-group">
                    <label for="firstname" class="control-label">First Name</label>
                    <input type="text"
                           class="form-control"
                           id="firstname" required
                           placeholder="First Name"
                           ng-model="vm.userdata.FirstName">
                </div>
                <div class="form-group">
                    <label for="lastname" class="control-label">Last Name</label>
                    <input type="text"
                           class="form-control"
                           id="lastname" required
                           placeholder="lastname"
                           ng-model="vm.userdata.LastName">
                </div>
                <div class="form-group">
                    <label for="location" class="control-label">Where Are You Based</label>
                    <select ng-model="vm.userdata.Location"
                            id="category"
                            required class="form-control"
                            ng-options="location.LocationCName as location.LocationName for location in vm.locations">
                        <option value="" disabled selected>Select Location</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input type="text"
                           class="form-control"
                           id="email" required
                           placeholder="email"
                           ng-model="vm.userdata.Email">
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input type="password"
                           class="form-control"
                           id="password" required
                           placeholder="Password"
                           ng-model="vm.userdata.Password">
                </div>
                <div class="form-group">
                    <label for="confirmpassword" class="control-label">Confirm Password</label>
                    <input type="password"
                           class="form-control"
                           id="confirmpassword" required
                           placeholder="Confirm Password"
                           ng-model="vm.userdata.ConfirmPassword">
                </div>
                <div class="form-group">
                    <label for="phonenumber" class="control-label">Phone Number</label>
                    <input type="tel"
                           class="form-control"
                           id="phonenumber" required
                           placeholder="Phone Number"
                           ng-model="vm.userdata.PhoneNumber">
                </div>
                <div class="form-group">
                    <label for="idcardnumber" class="control-label">ID Card Number</label>
                    <input type="tel"
                           class="form-control"
                           id="idcardnumber" required
                           placeholder="ID Card Number"
                           ng-model="vm.userdata.IDCardNumber">
                </div>
                <div class="form-group">
                    <button type="submit"
                            class="btn btn-default"
                            ng-click="vm.registerUser()">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83875384-1', 'auto');
  ga('send', 'pageview');

</script>